<% include partials/header %>
<div class="container">
    <h1 style="text-align: center;">Add New Camp</h1>
    <div style="width: 30%; margin: 0 auto;">
        <form action="/campgrounds" method="POST">
        <input class="form-control form-group" type="text" placeholder="Name" name="name">
        <input class="form-control form-group" type="text" placeholder="Image URL" name="image">
        <input class="btn btn-lg btn-primary form-group" type="submit">
        </form>
        <a href="/campgrounds">Go Back!!</a>
    </div>
</div>
<% include partials/footer %>